APP_NAME=AkaSphere
APP_ENV=development
APP_VERSION=0.1.0

POSTGRES_DB=akasphere
POSTGRES_USER=akasphere
POSTGRES_PASSWORD=change_me
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

REDIS_HOST=localhost
REDIS_PORT=6379